<VirtualHost *:80>
    ServerName localhost

    ## Vhost docroot
    DocumentRoot /var/www/html

    ## Take .htaccess.local in priority
    AccessFileName .htaccess.local .htaccess

    AcceptPathInfo On

    ## PHP-FPM connection
    <Directory "/var/www/html">
        SetHandler "proxy:fcgi://phpfpm:9000"
        Options -Indexes +FollowSymLinks +IncludesNOEXEC -MultiViews
        AllowOverride All
        Require all granted
        DirectoryIndex index.php /index.php
    </Directory>

    ## Logging : hide version
    ServerSignature Off
</VirtualHost>
